{% extends "base.html" %}

{% block head %}
<title>Search Results</title>
{% endblock %}

{% block body %}
<h1>The Results of your search are:</h1>
<form id="search_form" action="{% url fishing_search %}" method="get">
                 {{ form.as_p }}
		 <div class="other">
		 <input id="other" type="text" name="other" />
		 </div>

                <!-- Submit -->
                <input type="submit" id="button" value="Find a Guide" />
</form>

{% include "fishing/search/results.html" %}

{{ form.media }}
{% endblock %}
