{% extends "base.html" %}

{% block head %}
<title>Search Results</title>
{% endblock %}

{% block body %}
<h1>The Results of your search are:</h1>
<form id="search_form" action="{% url fishing_search %}" method="get">

                <!-- Location -->
                <div class = "ui-widget">
                <input id = "loc" type= "text" name="loc"
                 value = "{{ request.GET.loc }}"
                 onfocus="clickclear(this, ' Where do you want to fish?')"
                 onblur="clickrecall(this, ' Where do you want to fish?')" />
                </div>

                 <!-- Calendar  -->
                <input id="date" type="text" name="date"
                 value = "{{ request.GET.date }}"
                 onfocus="clickclear(this, ' Date')"
                 onblur="clickrecall(this, ' Date')"/>

                 <!-- Added by Sid: Hidden lat and lng inputs -->
                 <input id="id_lat" type="hidden" name="lat"/>
                 <input id="id_lng" type="hidden" name="lng"/>

		 <div class="other">
		 <input id="other" type="text" name="other" />
		 </div>

                <!-- Submit -->
                <input type="submit" id="button" value="Find a Guide" />
</form>

{% include "fishing/search/results.html" %}

{% endblock %}
