{% extends "base.html" %}

{% block head %}
<title>TheGuideFinder: 404 Page Not Found</title>
{% endblock %}

{% block body %}
<h1>The Page you requested was not found</h1>
<p>Thank you for visiting <a href="http://test.theguidefinder.com/">TheGuideFinder</a>. Unfortunately the site is still under construction and this link appears to be broken. The administrators have been notified and should be working to get this issue fixed</p>
<p>Thank you again for spending time on this site.</p>
{% endblock %}
